div.scrollmenu {
  overflow: auto;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.diagonal-box {
    position: relative;
    background-image: linear-gradient(to right, #654ea3, #ffffff00);
    clip-path: polygon(100% 0%, 0% 180%, 0% 0%);
}
